body {
    background-color: black;
    font-family: Arial, Helvetica, 
}
h1 {
    color: chocolate;
    text-align: center;
}
p {
    color: aliceblue;
}
div {
    background-color: blueviolet;
    border-radius: 5px;
}